

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  opacity: 1;
  z-index: 10;
  transition: transform 1s;
  transform: translate3d(0, -100%, 0);
  will-change: transform;
}

.page-leave-active ~ .menu-leave-active {
  transition-delay: 1s;
}

.page-leave-active.gallery {
  transition-delay: 1s !important;
}

.page-leave .category {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.page-enter .category {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.page-leave-active .category {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.menu-leave-active {
  transition: transform .5s;
}
.menu-enter, .menu-leave-active {
  transform: translate3d(-100%, 0, 0);
}
.menu-active-norm {
  transition: transform .5s;
}
.menu-active-lv-norm {
  transition: transform .5s;
  transform: translate3d(-100%, 0, 0);
}
.menu-active-dly {
  transition: transform 1.5s step-end;
}

.menu-burger-enter-active, .menu-burger-leave-active {
  transition: opacity 1s step-end;
}
.menu-burger-enter, .menu-burger-leave-active {
  opacity: .01
}

.loader-enter-active, .loader-leave-active {
  transition: transform 1s ease-in-out .4s;
}
.loader-enter, .loader-leave-active {
  transform: translate3d(0, -100%, 0);
}

.view-enter, .view-leave-active {
  transform: translate3d(0, 100%, 0);
}
.view-active-none {
  transition: none;
}
.view-active-long {
  transition: transform .5s;
}
.view-active-dly {
  transition: transform 1.5s step-end;
}
